
.clearfix:after {
    content:"";
    display: block;
    clear: both;
}
.header {
    /* background-color:green; */
    background-color:#2E8B57;
    padding:22px;
}
.header__top ,.header__bottom{
    width:100%
}

.header__top h1 {
    float: left;
    min-width: 90%;
    text-align: center;
    color:white;
}

.btn__login {
    float:right;
    border-radius: 25px;
	background: #0d73e0;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 25px;
    margin-top: 4px;
    margin-right:3px;
    border: 2px solid grey;
    position: absolute;
    top:3px;
    
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:75%;
    
} 
.left{
    float: left;
}
.right {
    float:right;
}

.navbar li {
   
    display: inline-block;
    margin-left:10px;
    font-size: 20px;
   
} 
.navbar li a    {
text-decoration: none;
text-transform: uppercase; 
color:white;
}
 
.navbar li a:hover {
    background-color:#3e8105;
    /* background-color:#D2691E */
  }
 


.search__bottom {
    width:25%
  
}

.search-bar input {
    padding:10px 30px;
    border-radius:20px;
    border: 2px solid grey;
    margin-bottom: 3px;
    font-size: 17px;
}