

.header {
    background-color:green
}

.header__top h1 {
    float: left;
    min-width: 90%;
    text-align: center;
    color:white;
}
.clearfix:after {
    content:"";
    display: block;
    clear: both;
}
.btn__login {
    float:right;
    border-radius: 25px;
	background: #38a3f1;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 25px;
    margin-top: 4px;
    margin-right:3px;
    border: 2px solid goldenrod;
    
}

.header__bottom {
    display: flex;
    flex-direction: row;
    /* justify-content:  flex-start; */
}
.navbar {
    display: flex;
    flex-direction:row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:30%;
    
} 

.navbar li {
    flex: 1;
    margin-left:10px;
    display: block; 
    text-align: left; 
    /* padding: 14px 16px;  */
    font-size: 20px;
   
} 
.navbar li a    {
text-decoration: none;
text-transform: uppercase; 
color:white;
}
 
a:hover {
    /* background-color:brown; */
    background-color:#D2691E
  }
 


.search__bottom {
    flex: 1;
    min-width: 100px;
    /* background-color:red; */
    /* height:40px;
    border: 2px solid goldenrod;
     */
  
}

.search-bar input {
    width: 30%;
    padding:10px 30px;
    border-radius:20px;
    border: 2px solid goldenrod;
    margin-bottom: 3px;
    font-size: 17px;
}