
.clearfix:after {
    content:"";
    display: block;
    clear: both;
}


.left{
    float: left;
}
.right {
    float:right;
}

header {
     background-color:#358173;
    padding:22px; 
} 


.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
    
}  


.navbar li {
   
    display: inline-block;
    margin-left:10px;
    font-size: 20px;
   
}  
.navbar li a    {
text-decoration: none;
text-transform: uppercase; 
color:white;
}
 
.navbar li a:hover {
    background-color:#9d4931;
    color:white;
}
 
.header__left {
    font: 400 100px/1.5; 
    padding-top: 10px;
    
}
/* .header__right {
    padding-left: 50px;
} */
.header__left span {
    font-size: 20px;
    color:white;
    font-weight: 500;
    /* font-family: cursive; */

}