* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

h2{
    color: white;
    font-size: 30px;
}

.container {
     text-align: center;
     
}

.header {
    background-color: red;
    font-size:20px; 
    color: white;
}

.clearfix:after {
    content : '';
    clear : both;
    display: table;
}


.course {
    float: left;
    width: 50%;
    background-color: teal;
}

.deserts {
    float: left;
    width: 50%;
    background-color: thistle;
}

.drinks {
    float: left;
    width: 50%;
    background-color:#f08579;
}

.salads {
    float: left;
    width: 50%;
    background-color: turquoise;
}

.content {
    padding:15px;
}


@media screen and (min-width:600px) {
.course {
    float: left;
    width: 25%;
    padding:0;
    background-color: teal;
}

.deserts {
    float: left;
    width: 25%;
    background-color: thistle;
}

.drinks {
    float: left;
    width: 25%;
    background-color: #f2988e;
}

.salads {
    float: left;
    width: 25%;
    background-color: turquoise;
}

.footer {
    background-color: grey;
    color: white;
}
}