

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    /* background-color: #fffddo; */
        /* background-color:#fffdd0; */

  
}

/* .App {
  width:90%;
  margin:0 auto;
  
}  */
